<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %> | The Settler</title>
    <meta
      name="description"
      content="A web comic based in the American West." />

    <link rel="icon" href="src/static/favicon.ico" />

    <% if (preloads) { %> <% preloads.forEach(({ href, as, imagesrcset }) => {
    %>
    <link
      href="<%= href %>"
      rel="preload"
      as="<%= as %>"
      imagesrcset="<%= imagesrcset %>" />
    <% }); %> <% } %>

    <!-- prefetching nav links -->
    <% navLinks.forEach(({ href }) => { %>
    <link href="<%= href %>" rel="prefetch" as="document" />
    <% }); %>

    <!-- additional prefetches -->
    <% if (prefetches) { %> <% prefetches.forEach(({ href, as }) => { %>
    <link href="<%= href %>" rel="prefetch" as="<%= as %>" />
    <% }); } %>
    <style type="text/css">
      <%= inlineStyles %> /* inline styles */
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">
          <picture>
            <source srcset="src/static/images/the-settler-title-art.webp" />
            <img
              src="src/static/images/the-settler-title-art.png"
              fetchpriority="high"
              width="166"
              height="38"
              alt="The Settler" />
          </picture>
        </a>
        <ul>
          <% navLinks.forEach(({ href, text, active }) => { %>
          <li>
            <a href="<%= href %>" class="nav-link <%= active ? 'active' : '' %>"
              ><%= text %></a
            >
          </li>
          <% }); %>
        </ul>
      </nav>
    </header>
  </body>
</html>
