<%- include('_header', { preloads: null, prefetches: null, inlineStyles }) %>
<main>
  <ul class="page-list">
    <% for (const issue of issues) { %> <% for (const page of issue.pages) { %>
    <li>
      <a href="/issue-<%= issue.number %>#<%= page.uid %>">
        <%= page.title %>
      </a>
    </li>
    <% } %> <% } %>
  </ul>
</main>
<%- include('_footer') %>
