<%- include('_header', { preloads, prefetches: null, inlineStyles }) %>
<main>
  <section class="pages">
    <!--  -->
    <% pages.forEach(({ image, title, uid }) => { %>
    <picture>
      <source srcset="<%= image.srcset %>" />
      <img
        id="<%= uid %>"
        src="<%= image.src %>"
        alt="<%= title %>"
        loading="<%= image.loading %>"
        height="<%= image.height %>"
        width="<%= image.width %>"
        fetchpriority="<%= image.fetchpriority %>"
        onload="this.style.backgroundImage = 'none';"
        style="background-image: url('<%= image.placeholder %>')" />
    </picture>
    <% }); %>
  </section>
</main>
<script src="src/static/js/issue.js" defer></script>
<%- include('_footer') %>
