<%- include('_header', { preloads: [{ href: pages[0].image.placeholder, as:
"image" }]}) %>
<main>
  <h1>Issue <%= number %></h1>
  <section>
    <!--  -->
    <% pages.forEach(({ image, title }) => { %>
    <picture>
      <source srcset="<%= image.srcset %>" />
      <img
        id="<%= title %>"
        src="<%= image.src %>"
        alt="<%= title %>"
        loading="<%= image.loading %>"
        height="<%= image.height %>"
        width="<%= image.width %>"
        onload="this.style.backgroundImage = 'none';"
        style="background-image: url('<%= image.placeholder %>')" />
    </picture>
    <% }); %>
  </section>
  <div class="controls">
    <p class="prev">Prev</p>
    <p class="page-number">0</p>
    <p class="next">Next</p>
  </div>
</main>
<%- include('_footer') %>
