<%- include('header') %>
<main>
  <h1>Issue <%= issue.number %></h1>

  <section>
    <% issue.pages.forEach(({ image, title }) => { %>
    <picture>
      <source srcset="<%= image.srcset %>" />
      <img
        src="<%= image.src %>"
        alt="<%= title %>"
        loading="<%= image.loading %>"
        height="<%= image.height %>"
        width="<%= image.width %>"
        style="background-image: url('<%= image.placeholder %>')" />
    </picture>
    <% }); %>
  </section>
</main>
<%- include('footer') %>
