<%- include('_header', { preloads, prefetches: null, inlineStyles }) %>
<main>
  <h1>Issue <%= number %></h1>
  <section class="pages">
    <!--  -->
    <% pages.forEach(({ image, title }) => { %>
    <picture>
      <source srcset="<%= image.srcset %>" />
      <img
        id="<%= title %>"
        src="<%= image.src %>"
        alt="<%= title %>"
        loading="<%= image.loading %>"
        height="<%= image.height %>"
        width="<%= image.width %>"
        fetchpriority="<%= image.fetchpriority %>"
        onload="this.style.backgroundImage = 'none';"
        style="background-image: url('<%= image.placeholder %>')" />
    </picture>
    <% }); %>
  </section>
  <div class="controls">
    <button class="prev">Prev</button>
    <p class="page-number">0</p>
    <button class="next">Next</button>
  </div>
</main>
<script src="src/static/js/issue.js" defer></script>
<%- include('_footer') %>
